DB_URL=jdbc:mysql://MYSQL_HOST:3306/my_wealth_db?serverTimezone=UTC&characterEncoding=UTF-8
DB_USERNAME=CHANGE_ME
DB_PASSWORD=CHANGE_ME
GEMINI_API_KEY=CHANGE_ME
KRX_API_AUTH_KEY=CHANGE_ME
KIS_API_APP_KEY=CHANGE_ME
KIS_API_APP_SECRET=CHANGE_ME
REGISTRATION_ENABLED=true
LOGIN_MAX_ATTEMPTS=5
LOGIN_BLOCK_DURATION=10m
SESSION_TIMEOUT=30m
